/* variables */
:root {
    --main-color: #ff8875;
    --sec-color: #5a3673;
}

/* fonts */
@font-face {
    font-family: "Orange Juice";
    src: url("fonts/orange-juice.ttf") format("truetype");
}

@font-face {
    font-family: "Aleo";
    src: url("fonts/Aleo-Light.otf") format("opentype");
}

/* set margin & padding to default */
body, ul, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* set main color */
body {
    background-color: var(--main-color);
}

/* set secondary color */
h1, h2, h3, p, label, a, li, legend, input[type="search"], input[type="email"] {
    color: var(--sec-color);
}

/* styling */


h1 {
    position: relative;
    z-index: 2;
    font-family: "Orange Juice";
    font-size: 3.5em;
    margin: 5em 20em 0 15em;
}

h1:first-letter {
    font-size: 10em;
}

h1 span {
    position: relative;
    z-index: 1;
    display: flex;
}

h1 > span:first-of-type {
    margin: -10em 1.5em 0 1.5em;
}

h1 span:nth-of-type(n+2):nth-last-of-type(n+6) {
    font-family: "Aleo";
    text-transform: uppercase;
    font-size: 7em;
    transform: translate(-0.95em, -0.85em) rotate(25deg);
}

h1 span:nth-of-type(2) {
    z-index: -1;
    color: var(--main-color);
}

h1 span:nth-of-type(3) {
    margin-top: -0.8em;
    margin-left: 0.81em;
    z-index: 0;
    color: var(--sec-color);
}

h1 span:nth-of-type(4) {
    font-size: 0.85em;
    margin: -11.9em 1.75em 0 1.75em;
}

h1 span:nth-of-type(5) {
    font-size: 0.75em;
    margin: 2.2em 2.5em;
}

h1 span:nth-of-type(n+5){
    
}

ul {
    list-style-type: none;
}

input[type="search"], input[type="email"], button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
}

input[type="email"] {
    border-bottom: solid 0.1em;
}

/* add animation of flying bird */
button:after {
    
}

/* media queries */

/* minimize motion and animations*/
@media (prefers-reduced-motion) {
    
}

/* change theme to dark */
@media (prefers-color-scheme: dark) { 
    body {
        background-color: var(--sec-color);
    }
    
    h1, h2, h3, p, label, a, li, legend, input[type="search"], input[type="email"] {
    color: var(--main-color);
    }
}